
/* Tip: Use "@import" to add styles instead of adding <link>'s in your
   HTML, and volo will inline it when building for production */

/* Your styles here */


html {
    background: #222222;
    color: #DDDDDD;
}

input {
	float: right;
}

#clock1 {
  transform: rotate(180deg);
}

.active {
    background: #333333;
}

.button {
    width: 36px;
    height: 36px;
    position: absolute;
	float: right;
}

#pausebutton {
    margin-top: 110px; /* TODO: center */
    margin-left: 156px;
}

#settingsbutton {
    margin-top: 166px;
    margin-left: 156px;
}

#settings {
   margin: 0;
   position: absolute;
   top: 10px;
   left: 10px;
   width: 200px; /* TODO */
   height: 300px;
   border-width: 2px;
   overflow: hidden;
   display: none;
}


/* Small devices */
@media only screen and (max-width : 500px) {

 #clocks {
   margin: 0;
   position: absolute;
   top: 10px;
   left: 10px;
   width: 90%;
   height: 90%;
   border-width: 2px;
   overflow: hidden;
 }

 .clock {
   height:143px;
   width:143px;
   margin: 5px;
   border: 1px solid black;
   text-align: center;
   vertical-align: middle;
   line-height: 143px;
   font-size: 34px;
 }

}

/* Larger devices */
@media only screen and (min-width : 501px) {

 #clocks {
   margin: 0;
   position: absolute;
   top: 10px;
   left: 10px;
   width: 200px; /* TODO */
   height: 300px;
   border-width: 2px;
   overflow: hidden;
 }

 .clock {
   height:143px;
   width:143px;
   margin: 5px;
   border: 1px solid black;
   text-align: center;
   vertical-align: middle;
   line-height: 143px;
   font-size: 34px;
 }
}

