html {
    background: #141414;
    color: #DDDDDD;
	height: 100%;
}

body {
	height:100%;
	margin: 0;
}

input {
	float: right;
}


.active {
    background: #333333;
}

.button_icon {
    width: 36px;
    height: 36px;
}

#settings_buttons {
	margin-top: 40px;
}

.button_in_settings {
	width: 100px;
	height: 56px;
	border: 1px solid #DDDDDD;
	background: #222222;
	padding: 4px;
	text-align: center;
	line-height: 56px;
	vertical-align: middle;
	cursor: pointer;
}

#cancel_settings_button {
	float: right;
}

#wrapper {
   max-width: 300px;
   height: 96%;
   max-height: 500px;
   padding-top:10px;
}

#settings {
	padding-left: 10px;
	padding-right: 10px;
	border-width: 2px;
	overflow: hidden;
	display: none;
	width: 90%; /* Account for the paddings. */
	font-size: 24px;
}
#settings input
{
	font-size:24px;
	width: 36px;
}

#time {
	height: 100%;
}

#clocks {
    float: none;
    width: auto;
    padding-right:46px;
    height: 100%;
    padding-left: 10px;
}

.clock {
    height:46%;
    border: 1px solid black;
    text-align: center;
    font-size: 74px;
    display: -moz-box;
    -moz-box-align: center;
    -moz-box-pack: center;
    width: 100%;

 /* W3C compliant version. */
    display:box;
    box-pack:center;
    box-align:center;
}

.timer {
	display: box;
	box-align: center;
}

#clock1 {
  transform: rotate(180deg);
}

#clock2 {
	margin-top: 10px;
}

#controls {
	width: 40px;
	float: right;
	height: 96%;
	position: relative;
	padding-top: 10px;
}

#pausebutton {
	position: absolute;
	top: 50%;
	margin-top: -23px; /* Move up by half the icon height plus half the space between clocks. */
}

#settingsbutton {
	position: absolute;
	bottom: 10px; /* Account for the padding. */
}

.invalid_input {
	border: 2px solid red;
}


@media only screen and (max-width: 270px) {

	.clock {font-size: 54px;}

	#settings {font-size: 16px;}

	#settings input {font-size:16px;}

	.button_in_settings {
		width: 74px;
		height: 30px;
		line-height: 30px;
	}

}
