html {
    background: #222222;
    color: #DDDDDD;
	height: 100%;
}

body {
	height:100%;
	margin: 0;
}

input {
	float: right;
}


.active {
    background: #333333;
}

.button_icon {
    width: 36px;
    height: 36px;
}

#wrapper {
   max-width: 300px;
   height: 96%;
   max-height: 500px;
   padding-top:10px;
}

#settings {
	padding-left: 10px;
	padding-right: 10px;
	border-width: 2px;
	overflow: hidden;
	display: none;
	width: 90%; /* Account for the paddings. */
}

#time {
	height: 100%;
}

#clocks {
    float: none;
    width: auto;
    padding-right:46px;
    height: 100%;
    padding-left: 10px;
}

.clock {
    height:46%;
    border: 1px solid black;
    text-align: center;
    font-size: 54px;
    display: -moz-box;
    -moz-box-align: center;
    -moz-box-pack: center;
    width: 100%;

 /* W3C compliant version. */
    display:box;
    box-pack:center;
    box-align:center;
}

.timer {
	display: box;
	box-align: center;
}

#clock1 {
  transform: rotate(180deg);
}

#clock2 {
	margin-top: 10px;
}

#controls {
	width: 40px;
	float: right;
	height: 96%;
	position: relative;
	padding-top: 10px;
}

#pausebutton {
	position: absolute;
	top: 50%;
	margin-top: -23px; /* Move up by half the icon height plus half the space between clocks. */
}

#settingsbutton {
	position: absolute;
	bottom: 10px; /* Account for the padding. */
}
